HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### Svelte ###
**/node_modules/
**/.svelte-kit/
**/build/
**/.output/
**/.vercel/
**/.netlify/
**/.wrangler/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


### Me ###
# **/.assets/**
**/.private/**
**/go.mod
**/go.sum
**/**.bak
**.http
# frontend
.npm-cache
**/bin/**
**/logs/
**.pid
backend/course-service/uploads/
redis_data
**/test/**
http-client.env.json
auth-service.bak
